# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/*
!build/README.md
dist/*
!dist/README.md
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Testing / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml

# Type checking / linting
.mypy_cache/
.ruff_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env

# Memo
memos/*
!memos/README.md